<?xml version="1.0" encoding="utf-8" ?>
<CE>
  <EMPRESA>
    <RUC>20492883281</RUC>
    <RAZONSOCIAL>EMPRESA S.A.</RAZONSOCIAL>
    <CONEXIONDB>Server=DELL-AMS;DataBase=COE_DATA;Integrated Security=SSPI;</CONEXIONDB>
  </EMPRESA>
  <EMPRESA>
    <RUC>10200324191</RUC>
    <RAZONSOCIAL>JULIO ZAPATA E.I.R.L.</RAZONSOCIAL>
    <CONEXIONDB>Server=DELL-AMS;DataBase=COE_DATA;Integrated Security=SSPI;</CONEXIONDB>
  </EMPRESA>
  <EMPRESA>
    <RUC>10200324191</RUC>
    <RAZONSOCIAL>TEXAVIL</RAZONSOCIAL>
    <CONEXIONDB>Server=DELL-AMS;DataBase=COE_DATA;Integrated Security=SSPI;</CONEXIONDB>
  </EMPRESA>
 </CE>

