<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--CADENA DE CONEXION SQL SERVER-->
  <connectionStrings>
       <add name="CnxComprobantes" connectionString="Server=192.168.114.2;DataBase=COE_DATA;USER ID=desarrollo;password=sistemas;"/>
    <add name="CnxComprobantesx" connectionString="Server=2M_AMORALES2\SQLSERVER2012;DataBase=COE_DATA_V3;Integrated Security=SSPI;"/>
    <add name="CnxComprobantesWeb"   connectionString="Server=tcp:data4d.database.windows.net,1433;Initial Catalog=ComprobantesElectronicos;Persist Security Info=False;User ID=Developer4d;Password=Alonso25571061$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
  </connectionStrings>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding  name="BillServicePortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:05:00" sendTimeout="00:05:00" allowCookies="false"  bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536"  maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="SunatSE.billService" name="BillServicePort">
        <headers>
          <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken Id="ABC-123">
              <wsse:Username>20508647311MODDATOS</wsse:Username>
              <wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">moddatos</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>-->

     <endpoint address="https://www.sunat.gob.pe/ol-ti-itcpfegem/billService" binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding" contract="SunatSE.billService" name="BillServicePort">
					<headers>
						<wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
							<wsse:UsernameToken Id="ABC-123">
								<wsse:Username>20492883281JLRAMOS8</wsse:Username>
								<wsse:Password Type="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText">jj2007ra</wsse:Password>
							</wsse:UsernameToken>
						</wsse:Security>
					</headers>
				</endpoint>
    </client>
  </system.serviceModel>
</configuration>