<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--CONFIGIURACION DEL FRAMEWORK-->
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<!--CONFIGURACION DE LAS VARIABLES DEL SISTEMA-->
	<appSettings>
		<add key="Usuario" value="admin" />
		<add key="EmisorRuc" value="20492883281" />
		<add key="Skin" value="DevExpress Style" />
		<add key="FuenteSize" value="8" />
		<add key="FuenteStyle" value="0" />
		<add key="FuenteName" value="Tahoma" />
	</appSettings>
	
	<!--CONFIGURACION PARA NUESTRO PROXY. PERMITE SALIR AFUERA SIN PROBLEMAS EN LA CONEXION. SOLO PARA SERVIDORES-->
	<!--<system.net>
		<defaultProxy useDefaultCredentials="true">
			<proxy proxyaddress="http://10.10.21.3:8080" usesystemdefault="True" bypassonlocal="True" />
		</defaultProxy>
	</system.net>-->
	
	<!--CONFIGURACION DEL SERVICIO DE LA SUNAT -->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BillServicePortBinding" 
								 closeTimeout="00:01:00" 
								 openTimeout="00:01:00" 
								 receiveTimeout="00:05:00" 
								 sendTimeout="00:05:00" 
								 allowCookies="false" 
								 bypassProxyOnLocal="false" 
								 hostNameComparisonMode="StrongWildcard" 
								 maxBufferPoolSize="524288" 
								 maxBufferSize="65536" 
								 maxReceivedMessageSize="65536" 
								 textEncoding="utf-8" 
								 transferMode="Buffered" 
								 useDefaultWebProxy="true" 
								 messageEncoding="Text">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		
		<client>
		
			<!--SERVIDORES TESTING LA SUNAT-->
			<endpoint
						address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService"
						binding="basicHttpBinding"
						bindingConfiguration="BillServicePortBinding"
						contract="SunatSE.billService"
						name="BillServicePort" />

			<!--SERVIDORES PRODUCCION DE SUNAT-->
			<!--<endpoint
						address="https://www.sunat.gob.pe/ol-ti-itcpfegem/billService"
						binding="basicHttpBinding"
						bindingConfiguration="BillServicePortBinding"
						contract="SunatSE.billService"
						name="BillServicePort" />-->
			
			
			<!--SERVIDORES PRODUCCION SUNAT PARA OBTENER EL CDR-->
			<endpoint
				 address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
				 binding="basicHttpBinding"
				 bindingConfiguration="BillServicePortBinding"
				 contract="SunatCDRSE.billService"
				 name="BillConsultServicePort" />
			
		</client>
			
		<extensions>
			<!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
			<behaviorExtensions>
				<add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</behaviorExtensions>
			<bindingElementExtensions>
				<add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingElementExtensions>
			<bindingExtensions>
				<add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>